header {
    text-align: center;
}

form {
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    padding-left: 50%;
    padding-right: 50%;
}

main {
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    padding-left: 50%;
    padding-right: 50%;
}

.back {
    font-size: 25px;
    font-weight: 800;
}

.campo {
    margin-top: 15px;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

}

.acciones {
    margin-top: 15px;
    display:flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    column-gap: 25px;
}

.input {
    width: 250px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}